<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de Usuario</title>
    </head>
    <body>
        <div class="container">
            <h2>Registro</h2>
            <form id="userForm">
                <label for="name"> Nome:</label><br>
                <input type="text" id="name" name="name" required><br>
                <label for="email">E-mail:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Senha:</label><br>
                <input type="password" id="password" name="password" required><br>
                <label for="password_confirmation">Confirme sua senha:</label><br> <!-- Corrigido o nome do campo -->
                <input type="password" id="password_confirmation" name="password_confirmation" required><br> <!-- Corrigido o nome do campo -->
                <button type="submit">Registrar Usuário</button> <!-- Corrigido o texto do botão -->
            </form>
        </div>
    <script src = "scripts/user_register.js"></script>
    </body>
</html>
